name: kconfig MSYS2 MINGW64

permissions:
  ## Allow publishing of GitHub Release
  contents: read
on: 
  workflow_dispatch:
  push:
    paths:
      - '.github/workflows/kconfig.yml'

jobs:
  nuttx-kconfig-msys2-mingw:
    runs-on: windows-latest
    strategy:
      fail-fast: true
      matrix:
        btype:
          - Release
        msystem:
          # - CLANG64
          - MINGW32
          # - MSYS
          # - UCRT64
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v4
      - uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.msystem }}
          update: false
          install: >-
            bison
            flex
            git

          pacboy: >-
            cc:p
            gperf:p
            cmake:p
            ninja:p
            curl:p
            gcc-libs:p
            gettext-tools:p
            zlib:p
      - name: Checkout Source Files
        run: |
          echo 'Checkout Source Files'
          cmake --help
          env
          gcc -v
          mkdir kconfigspace
          ls -a
          cd kconfigspace
          git clone --single-branch --branch simbit18-cmakeUpdate https://github.com/simbit18/kconfig-frontends-win.git
          ls -a
          cd kconfig-frontends-win
          ls -a
          mkdir build
          cd build
          cmake -GNinja ..
          # cmake -G "MinGW Makefiles" ..
          # cmake -B build -GNinja
          # cmake --build build -v
          cmake --build .